<div>Users: {{usersCount}}</div>
<ul class="users-listing">
	{{#each user in controller}}
		<li>
			{{#link-to "user" user}}
				{{user.name}}
			{{/link-to}}
		</li>
	{{else}}
		<li>No users found</li>
	{{/each}}
</ul>
{{outlet}}